<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="./js/routes.js"></script>
  <link rel="stylesheet" href="./resources/static/style.css">
  <title>Vías</title>
</head>
<body>
  <div class="container">
    <ul class="nav nav-pills nav-justified">
      <li class="nav-item">
        <a class="nav-link" href="./index.html">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="./agents.html">Agentes de Tránsito</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="">Vías</a>
      </li>
    </ul>
  </div>
  <div class="container">
    <h1 class="text-center">Formulario para creación de vías de transito</h1>
      <form id="form">
        <div class="mb-3">
          <label for="route_type" class="form-label">Tipo de ruta</label>
          <input list="route_types" class="form-control" id="routeType" name="route_type" minlength="5" maxlength="20" required>
          <datalist id="route_types"></datalist>
        </div>
        <div class="mb-3">
          <label for="street_type" class="form-label">Tipo de calle</label>
          <input list="street_types" class="form-control" id="streetType" name="street_type" minlength="10" maxlength="100" required>
          <datalist id="street_types"></datalist>
        </div>
        <div class="mb-3">
          <label for="number" class="form-label">Número</label>
          <input type="number" class="form-control" id="number" name="number" min="0" required>
        </div>
        <div class="mb-3">
          <label for="con_lvl" class="form-label">Nivel de contingencia</label>
          <input type="number" class="form-control" id="conLvl" name="con_lvl" min="0" max="100" step=".01" required>
        </div>
        <button id="btn_form" type="submit" class="btn btn-primary">Crear</button>
        <button id="btn_form_cancel" type="reset" class="btn btn-primary">Cancelar</button>
      </form>
  </div>

  <div class="container">
    <h1 class="text-center">Vías de Transito</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Tipo de Ruta</th>
          <th>Tipo de Calle</th>
          <th>Número</th>
          <th>Nivel de Contingencia</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>